 <div class="col-lg-7">
 <nb-card>
      <nb-card-header>I-94 Document Details </nb-card-header>
      <nb-card-body>
 <div class=" col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
            <label for="input-password" class="label">Admission (I-94) Record Number</label>
           
          </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="text" placeholder="Number" class="form-control"/>
          </div>
        </div>
        <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Admit Until Date</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="date" value="" class="form-control form-control-line">
           </div>
           </div>
         <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Family Name</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="" class="form-control"/>
           </div>
        </div>
         <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">First (Given) Name</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="" class="form-control"/>
           </div>
        </div>
        <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Birth Date</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="date" value="" class="form-control form-control-line">
           </div>
           </div>
        <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Passport Number</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="" class="form-control"/>
           </div>
        </div>
        <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Passport Country of Issuance</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="" class="form-control"/>
           </div>
        </div>
       <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Date of Entry</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="date" value="" class="form-control form-control-line">
           </div>
           </div>
            <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Class of Admission</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="" class="form-control"/>
           </div>
        </div>
         <div class="col-sm-12 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Upload Document</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="file" class="form-control" name="fileToUpload" id="fileToUpload"/>
           </div>
           </div>  
       

       </nb-card-body>
       <nb-card-footer>      
              <button  class="btn btn-sm btn-success">Update</button>
              <!-- <button [disabled]="loading" class="btn btn-sm btn-danger">Cancel</button>   -->
        </nb-card-footer>
   </nb-card>
</div>