.custom-control {
    margin: 0;
    min-height: inherit;
    padding: 0.375rem 0.7rem;
    margin: 0.375rem .7rem;
}

label {
    display: inline-block;
    margin: .7rem;
}

.form-group {
  
    margin-bottom: 0rem;
}