<div class="col-lg-7">
	<form #f="ngForm" name="formPassword" novalidate (ngSubmit)="changePassword(f.value, f.valid)">
 <nb-card>
 	 
      <nb-card-header>Change Password</nb-card-header>
      <nb-card-body>
      <div class="row ">
          <div class="col-sm-6 form-group input-group-sm">
            <label for="input-password" class="label">Old Password</label>
          </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="password" placeholder="Old Password" class="form-control" name="oldpassword" [ngModel]="user.oldpassword" required #oldpassword="ngModel" />
             <div [hidden]="oldpassword.valid || (oldpassword.pristine && !f.submitted)" class="text-danger">
            Old password is required
            </div>
          </div>
        </div>
             <div class="row ">
          <div class="col-sm-6 form-group input-group-sm">
            <label for="input-password" class="label">New Password</label>
          </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="password" placeholder="New Password" class="form-control" name="newpassword" [ngModel]="user.newpassword"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{5,}"
        required validateEqual="confirmPassword" reverse="true" #newpassword="ngModel">
      <div [hidden]="newpassword.valid || (newpassword.pristine && !f.submitted)" class="text-danger">
        <div [hidden]="!newpassword.hasError('minlength')">Password should be minimum 5 character</div>
      <div [hidden]="!newpassword.hasError('required')">password is required</div>
      <div [hidden]="!newpassword.hasError('pattern')">password should be at least 1 upper case, numeric, and special character</div>

      </div>
     
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 form-group input-group-sm">
            <label for="input-password" class="label">Confirm Password</label>
          </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" required validateEqual="newpassword" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
          </div>
        </div>
        <!-- <div class="row">
          Passwords must contain:
<ul>
<li>a minimum of 1 lower case letter [a-z] and</li>
<li>a minimum of 1 upper case letter [A-Z] and</li>
<li>a minimum of 1 numeric character [0-9] and</li>
<li>a minimum of 1 special character: @#%&.</li>
<li>at least 1 upper case, numeric, and special character</li>
</ul>
        </div> -->
      </nb-card-body>
      <nb-card-footer><button type="submit" class="btn btn-success btn-sm"> Update <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button></nb-card-footer>
      
    </nb-card>
     </form>
  </div >

