<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Forms Received" type="primary">
      <i class="nb-compose"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Forms Completed" type="success">
      <i class="nb-paper-plane"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Forms Pending" type="warning">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>
</div>
 -->


<div class="row">
  

  <div class="col-xxxl-12 col-lg-12 col-md-12">
      <ngx-echarts></ngx-echarts>
  </div>

  

 
 
</div>
