<div class="">
  <nb-card>
    <nb-card-header>Passport Details</nb-card-header>
    <nb-card-body>
        <h6 class="row col-sm-12 form-group"><u>Personal Details </u></h6>
        <div class="row">
      <div class="col-sm-6 row ">

        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">First name</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="Given name" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Middle name</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="Middle name" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Last name</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="Sur name" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Date Of Birth</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="date" placeholder="Date Of Birth" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Gender</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <select class="form-control" placeholder="Gender">
            <option></option>
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>

          </select>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Nationality</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="Nationality" class="form-control"/>
        </div>
      </div>
  </div>
    <h6 class="row col-sm-12 form-group"><u>Passport Details </u></h6>
        <div class="row">
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Passport Number</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="email" placeholder="Passport Number" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Issue Date</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="date" placeholder="Issue Date" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Validity Date From</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="date" placeholder="Validity Date From" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Validity Date To</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="date" placeholder="Validity Date To" class="form-control"/>
        </div>
      </div>
      <div class="row col-sm-6">
      <div class="col-sm-6 form-group input-group-sm">
        <label for="input-password" class="label">Place Of Issue</label>
      </div>
      <div class="col-sm-6 form-group input-group-sm">
        <input type="date" placeholder="Place Of Issue" class="form-control"/>
      </div>
    </div>
      
      <div class="row col-sm-6">
        <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Country Of Issue</label>
        </div>
        <div class="col-sm-6 form-group input-group-sm">
          <input type="text" placeholder="Country Of Issue" class="form-control"/>
        </div>
      </div>
      
       <div class="col-sm-12 row ">
          <div class="col-sm-3 form-group input-group-sm">
          <label for="input-password" class="label">Description</label>
        </div>
          <div class="col-sm-9 form-group input-group-sm">
            <textarea rows="6" class="form-control form-control-line"></textarea>
           </div>
           </div>  

            <div class="col-sm-6 row ">
          <div class="col-sm-6 form-group input-group-sm">
          <label for="input-password" class="label">Upload Document</label>
        </div>
          <div class="col-sm-6 form-group input-group-sm">
            <input type="file" class="form-control"  name="fileToUpload" id="fileToUpload"/>
           </div>
           </div>  
                  
  </div>


    </nb-card-body>
    <nb-card-footer>        
      <button class="btn btn-sm btn-success">Update</button>
            <!-- <button [disabled]="loading" class="btn btn-sm btn-danger">Cancel</button> -->
    </nb-card-footer>
  </nb-card>
</div >
