<div class="row">
  <div class="col-xxxl-3 col-md-6">

  	 <nb-card >
      <div class="icon-container">
        <div class="icon primary">
         <i class="nb-compose"></i>
        </div>
      </div>

      <div class="details">
        <div class="title">No.of Form Received</div>
        <div class="status">10</div>
      </div>
    </nb-card>
   
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card >
      <div class="icon-container">
        <div class="icon success">
          <i class="nb-paper-plane"></i>
        </div>
      </div>

      <div class="details">
        <div class="title">No.of Form Completed</div>
        <div class="status">5</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card >
      <div class="icon-container">
        <div class="icon warning">
          <i class="nb-lightbulb"></i>
        </div>
      </div>

      <div class="details">
        <div class="title">No.of Form Pending</div>
        <div class="status">5</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card   size="normal">
       <nb-card-header>Bar charts</nb-card-header>
      <nb-card-body>
       <ngx-echarts-bar></ngx-echarts-bar> 

      </nb-card-body>
    </nb-card>
  </div> 
</div>
